extends layout

block content

  script.
    setTimeout(() => { window.location.reload() }, #{interval})
  h1 1 USDT = #{exchangeRate} INR
  p.lead Arbitrage opportunities Binance & WazirX
  each pair in arbitrage
    .row.border-top.pt-2
      .col-sm-4
        p #{pair.CURR}/USDT
        h2 #{pair.USDT}
        
      .col-sm-4
        p Diff
        h2 #{pair.Diff}

      .col-sm-4
        p #{pair.CURR}/INR
        h2 #{pair.INR}